#ghx-pool {
	cursor: default;

	.ghx-issue {
		.ghx-type, .ghx-days {
			display: none;
		}

		.ghx-issue-content {
			padding: 5px 5px 5px 13px;
		}

		.ghx-flags {
			top: 7px;
			right: 7px;
			left: auto;
		}

		.ghx-avatar {
			top: 5px;
			right: 5px;
			left: auto;

			&:not(:empty) ~ .ghx-flags {
				top: 32px;
			}
		}

		.ghx-priority[title='Major'] {
			display: none;
		}
	}

	#ghx-column-headers .ghx-column {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		h2 {
			display: inline;
		}
	}

	// Issue sidebar open
	&.ghx-band-1 {
		.ghx-issue {
			.ghx-issue-fields {
				padding-right: 25px;
			}

			.ghx-flags {
				top: 5px;
				right: 4px;
			}

			.ghx-priority, .ghx-priority img {
				width: 14px;
				height: 14px;
			}

			.ghx-avatar:not(:empty) ~ .ghx-flags {
				top: 29px;
			}
		}
	}

	// Wide mode
	&.wide {
		padding-top: 0 !important;

		.ghx-columns, .ghx-zone-overlay-table {
			width: 150%;
		}

		.ghx-column-header-group {
			position: static !important;
		}
	}
}

// Left sidebar toggle

body.hide-left-sidebar {
	.aui-sidebar {
		display: none;
	}

	#gh {
		padding-left: 0;
	}

	#ghx-column-header-group {
		position: absolute !important;
		top: 0 !important;
		left: 10px !important;
	}
}

// Issue extra fields toggle

body.hide-extra-fields .ghx-issue .ghx-extra-fields {
	display: none;
}
